<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
  <system.web>
    <compilation debug="true" />
  </system.web>
  <!-- When deploying the service library project, the contents of the configuration file must be added to the app.config file
  of the host. System.Configuration does not support library configuration files.-->
  <system.serviceModel>
    <services>
      <service behaviorConfiguration="Default"
               name="VelibProject.VelibService">
        <!-- Intranet endpoint (unsecured) -->
        <endpoint address="net.tcp://localhost:8082/tigli/intranet"
                  binding="netTcpBinding"
                  bindingConfiguration=""
                  name="intranet"
                  contract="VelibProject.IVelibService" />
        <!-- Extranet "secured by transport endpoint"-->
        <endpoint address="https://localhost:8083/tigli/extranet"
                  binding="wsHttpBinding"
                  bindingConfiguration="WSHttpBinding_IVelibService"
                  name="extranet"
                  contract="VelibProject.IVelibService" />
        <!-- Metadata Exchange Endpoint : here we use an http binding because we don't need/want to protect the metadata.
             However, we could have use an https binding (once again) to protect the metadata exchange.-->
        <endpoint address="mex" binding="mexHttpBinding" bindingConfiguration=""
          name="mex" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8081/tigli" />
          </baseAddresses>
        </host>
      </service>
    </services>
    <bindings>
      <!-- SOAP messages are encrypted and signed using the HTTPS protocol.
           Users do not authenticate but ideally the service is authenticated using an SSL certifcate
           (Configured at the port used by the service).-->
      <wsHttpBinding>
        <binding name="WSHttpBinding_IVelibService">
          <security mode="Transport">
            <transport clientCredentialType="None" />
          </security>
        </binding>
      </wsHttpBinding>
    </bindings>
    <behaviors>
      <serviceBehaviors>
        <behavior name="Default">
          <!-- To avoid disclosure of metadata information,
          set the values ​​below to false before deployment. -->
          <serviceMetadata httpGetEnabled="True" httpsGetEnabled="True" />
          <!-- To receive details of the exception in errors for debugging purposes,
          set the value below to true. To avoid disclosure of exception information,
          set it to false before deploying -->
          <serviceDebug includeExceptionDetailInFaults="False" />
          <serviceCredentials>
            <serviceCertificate findValue="CN=zxxx" />
          </serviceCredentials>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true" />
  </system.serviceModel>

</configuration>