<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
      <behaviors>
        <endpointBehaviors>
            <behavior name="extranetBehavior">
                <clientCredentials>
                    <clientCertificate findValue="CN=clientCert"/>
                </clientCredentials>
            </behavior>
        </endpointBehaviors>
    </behaviors>
        <bindings>
            <netTcpBinding>
                <binding name="intranet" />
            </netTcpBinding>
            <wsHttpBinding>
                <binding name="extranet">
                    <security mode="Transport">
                        <transport clientCredentialType="Certificate" />
                    </security>
                </binding>
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="net.tcp://localhost:8082/tigli/intranet" binding="netTcpBinding"
                bindingConfiguration="intranet" contract="VelibService.IVelibService"
                name="intranet">
                <identity>
                    <userPrincipalName value="zxxx\user" />
                </identity>
            </endpoint>
          <endpoint address="https://localhost:8083/tigli/extranet" binding="wsHttpBinding"
              behaviorConfiguration="extranetBehavior" bindingConfiguration="extranet"
              contract="VelibService.IVelibService" name="extranet">
            <identity>
              <certificate encodedValue="MIIC6jCCAdagAwIBAgIQWBC5ruf+2aBABbAZB1AS1TAJBgUr
                           DgMCHQUAMBExDzANBgNVBAMTBlJvb3RDQTAeFw0xNzA1MjExMzEwNTVaFw0zOT
                           EyMzEyMzU5NTlaMBExDzANBgNVBAMTBlJvb3RDQTCCASIwDQYJKoZIhvcNAQEB
                           BQADggEPADCCAQoCggEBALxddq9oJQS0ZlMCOL7+rEvdN+5JLEmByCHoiqECcR
                           M+QvzxRUoZpePvpj6BauHCho1vI2uu5AI1domPbjGoF+BhlfbCXn8RYEfQSlvG
                           SEWHrUNCx6Wb7bbSNfVSFt69QcF3lND7aeYo9u6Oh5ufjU3Z1HUd1HJbM2DBLH
                           WnaqpDFCRuv8d3f2lVmg1kBQc0Q/UDU1n05qywZpHBOA8e3RHPoBzU+pEhYx2u
                           /ONIbq+/8/qTe8Uz8wnk+wnU0uCxDcA/+HBoxAZK08RUeKext3Mj88vHRHb6YV
                           5l27SyCYzIAJHAQAmV/zxAZJHBQaStYDF0dwJU9XGMb4TmuIZvNbsCAwEAAaNG
                           MEQwQgYDVR0BBDswOYAQ/w+2QOhIieStaTY70XAeQaETMBExDzANBgNVBAMTBl
                           Jvb3RDQYIQWBC5ruf+2aBABbAZB1AS1TAJBgUrDgMCHQUAA4IBAQA5TcNpv3dx
                           lFn9ijoMi7J1j65dFb41nlhMhydbS2LWNhpgeFPrWuE3rSX1LgKrpucAwwvJ80
                           /slwXEokX9SaA5QC/Rw6Af/KwN4dXtNPzHWmuO4eKxI+y1xFbFucoRBQy0BcoT
                           EiXszWl75RDb1SDF3x/zVGeRb+1geQRoHOzVWUVxBUVrZsNDCsDpv7/wGpTRDw
                           /PaIt3p59QwgPEpuuAVZlcIY31lha0mUvQcMQvGIjvCBU+pkoAnrPcWLRfFv9a
                           LHOUQy0Jq+cOakAec53pWdP9ddmzM0nB415ysgPgmw4Syxe64JJ/irNvneo+gC
                           1w+5v74ND5VrMch7SXEp0h" />
            </identity>
        </endpoint>
        </client>
    </system.serviceModel>
</configuration>