<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <netTcpBinding>
                <binding name="intranet" />
            </netTcpBinding>
            <wsHttpBinding>
                <binding name="extranet">
                    <security mode="Transport">
                        <transport clientCredentialType="None" />
                    </security>
                </binding>
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="net.tcp://localhost:8082/tigli/intranet" binding="netTcpBinding"
                bindingConfiguration="intranet" contract="VelibService.IVelibService"
                name="intranet">
                <identity>
                    <userPrincipalName value="zxxx\user" />
                </identity>
            </endpoint>
            <endpoint address="https://localhost:8083/tigli/extranet" binding="wsHttpBinding"
                bindingConfiguration="extranet" contract="VelibService.IVelibService"
                name="extranet" />
        </client>
    </system.serviceModel>
</configuration>